@import '../../../styles/color.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 65px;
  background-color: $primary;
  border: none;
  border-radius: 20px;
  color: $text-light;
  margin-top: 205px;
}

.button:active {
  opacity: 0.8;
}
