@import '../../styles/color.scss';

.container {
  width: 390px;
  height: 764px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 209px;
}

.message {
  width: 370px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.comment {
  width: 370px;
  height: 35px;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $text-detail;
}
