.container {
  width: 390px;
  height: 735px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 109px;
}

.comment {
  width: 246px;
  height: 150px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}
