@import '../../../styles/color.scss';

.header {
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.copybutton {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 37px;
  background-color: $primary;
  border: none;
  border-radius: 13px;
  color: $text-dark;
  padding: 0 11px;
  gap: 5px;
  cursor: pointer;
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  background-color: $primary;
  border: none;
  border-radius: 13px;
  color: $text-dark;
  padding: 0 11px;
  cursor: pointer;
}
